.news-header{
    margin-bottom: 100px;
    .article-search-input{
        border-width: 0 0 2px 0px;
        background: transparent;
    }
}
.article-container{
    &:not(.uk-first-column){
    padding-left:20px;
    }
    .uk-card{
        box-shadow: 0 5px 30px 0px rgba(0,0,0,.2);
        img{
            height: 260px;
            width: 100%;
        }
        .uk-card-body {
            padding: 30px;
            .uk-card-title{
                margin-top: 15px;
                line-height:24px;
                height: 50px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                box-orient: vertical;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-clamp: 2;
            }
        }
    }
}